@using EShopping.Areas.Admin.Models
@model IEnumerable<SupplierViewModel>

@{
    ViewBag.Title = "Index";
}
<head>
    <style>
        table.dataTable tbody th, table.dataTable tbody td {
            padding: 8px 3px !important;
        }
    </style>
</head>

<!--Main Dashboard-->
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
   <div class="main">
        <div class="col-lg-12">
            <div class="inline">
                <div class="col-lg-6">
                    <h1>Supplier List</h1>
                </div>
                <div class="col-lg-6">
                    <div class="float-right">
                        <a class="btn btn-outline-dark" href="@Url.Action("Create","Supplier")">Add new</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <!--Table-->
            <div class="tbl table-responsive" id="table">
                <table id="myTable" class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>CompanyName</th>
                            <th>ContactFName</th>
                            <th>ContactLName</th>
                            <th>Email</th>
                            <th>Country</th>
                            <th>State</th>
                            <th>City</th>
                            <th>Address1</th>
                            <th>Address2</th>
                            <th>Phone</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                            <tr>
                                <th>@item.CompanyName</th>
                                <th>@item.ContactFName</th>
                                <th>@item.ContactLName</th>
                                <th>@item.Email</th>
                                <th>@item.Country</th>
                                <th>@item.State</th>
                                <th>@item.City</th>
                                <th>@item.Address1</th>
                                <th>@item.Address2</th>
                                <th>@item.Phone</th>
                   
                                <th>
                                    <a class="edt-btn" href="@Url.Action("Edit","Supplier",new { Id=item.Supplier_Id})"><i class="fas fa-pencil-alt"></i></a>
                                    <a class="del-btn" href="@Url.Action("Delete","Supplier",new { Id=item.Supplier_Id})"><i class="fas fa-trash"></i></a>
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

@section scriptsAdmin{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}